



<div class="flex w-32 p-2 justify-center gap-2 items-center rounded bg-gray-800

text-white flex-col">
<div class="flex-1 flex items-center justify-center ">
<img class="w-3/4 rounded-md" src=<%=cropimage %>>
</div>
<div class="flex items-center justify-center  gap-2">

<p>
           <%=cropname   %>

</p>

</div>
</div>

