<div>1</div>

<div class="flex gap-2">


<p>Joseph_buwula</p>
</div>
<div>

<p>Maize</p>
</div>
<div>

<p>kabula</p>
</div>

<div>

<p>Dowa</p>
</div>
<div>

<p>Malawi</p>
</div>
<div class="flex items-center justify-center ">

<p>60</p>
</div>
